branches:
  only:
    - master
    - devel

sudo: true
language: php

notifications:
  on_success: never
  on_failure: change

php:
  - 5.5
  - 5.6

env:
  - WP_PROJECT_TYPE=plugin WP_VERSION=latest WP_MULTISITE=0 WP_TEST_URL=http://localhost:80 WP_TEST_USER=test WP_TEST_USER_PASS=test

matrix:
  allow_failures:
    - php: nightly

before_script:
  - sudo whoami
  - pwd
  - sudo apt-get update
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - sudo cat ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "xdebug.max_nesting_level=500" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - sudo cat ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  # configure apache virtual hosts
  - cd ..
  - echo "$(curl -fsSL https://gist.github.com/matthewjackowski/b772ab278efb0e6f30ad/raw/travisci-apache)" | sed -e "s,%TRAVIS_BUILD_DIR%,`pwd`/wordpress,g" | sudo tee /etc/apache2/sites-available/default > /dev/null
  - cat /etc/apache2/sites-available/default
  - cd transifex-live-wordpress
  - git clone https://github.com/Seravo/wordpress-test-template wordpress-test-template
  - echo "$(curl -fsSL https://gist.githubusercontent.com/matthewjackowski/3b26061241545564ae8d/raw/install-wp-tests.sh)" | sudo tee ./install-wp-tests.sh > /dev/null
  - bash ./install-wp-tests.sh test root '' localhost $WP_VERSION
  - sudo service apache2 restart


script:
  - pwd
  - php -i
  - "wget http://codeception.com/codecept.phar"
  - php ./codecept.phar build
  - php ./codecept.phar run
  - echo "$(curl -fsSL https://gist.githubusercontent.com/matthewjackowski/56bdf337d014f2fe0646/raw/wp-plugin-deploy.sh)" | sudo tee ./wp-plugin-deploy.sh > /dev/null
  - sudo chmod +x ./wp-plugin-deploy.sh
  - ./wp-plugin-deploy.sh

after_failure: 
  - sudo cat /var/log/apache2/error.log
  - cat /home/travis/build/transifex/transifex-live-wordpress/tests/_output/ConfigurePluginCept.fail.html
  - cat /home/travis/build/transifex/transifex-live-wordpress/tests/_output/CheckLiveSnippetCept.fail.html